<!--NAV BAR-->
<nav class="nav nav-masthead justify-content-center">

<a id="Home" class="navbar-brand" href="/home">
  <img src="Assets/Images/logo.png" width="50" height="50" alt="Logo" loading="lazy">
  COMP229 - Fall 2020 - Assignment 1
</a>

<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
  <span class="navbar-toggler-icon"></span>
</button>
     
<a class="nav-link active" href="/home"><i class="fas fa-home"></i>  Home  </a>
<a class="nav-link active" href="/about"><i class="far fa-user-circle"></i>  About  </a>
<a class="nav-link" href="/projects"><i class="far fa-heart"></i>  Projects  </a>    
<a class="nav-link" href="/services"><i class="fas fa-globe-asia"></i>  Services  </a>   
<a class="nav-link" href="/contact"><i class="far fa-envelope"></i>  Contact  </a>
</nav>

