      <!--NAV BAR-->
      <nav class="nav nav-masthead justify-content-center" id="navbarSupportedContent">
        
        <a class="nav-link active" href="/home"><i class="far fa-home"></i>  Home  </a>
        <a class="nav-link active" href="/about"><i class="far fa-user-circle"></i>  About  </a>
        <a class="nav-link" href="/projects"><i class="far fa-heart"></i>  Projects  </a>    
        <a class="nav-link" href="/services"><i class="fas fa-globe-asia"></i>  Services  </a>   
        <a class="nav-link" href="/contact"><i class="far fa-envelope"></i>  Contact  </a>
      </nav>

